@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
  /* PRIMARY */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  /* NEUTRAL */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

main {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  width: 480px;
  border-radius: 1rem 1rem 5rem 1rem;
}

article {
  padding: 0 2rem;
}

article:first-of-type {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
}

.input-group label {
  align-self: flex-start;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--smokey-grey);
}

/* .label-err {
  color: var(--light-red);
} */

.input-group input {
  /* border: 1px solid var(--off-white); */
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 90px;
  font-size: 18px;
  font-weight: 700;
}

.normal {
  border: 1px solid var(--off-white);
}

.error {
  border: 1px solid var(--light-red);
}

.input-group input::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: var(--smokey-grey);
}

.input-group input:hover {
  border: 1px solid var(--purple);
  cursor: pointer;
}

.error-msg {
  font-size: 10px;
  font-style: italic;
  color: var(--light-red);
  padding-top: 8px;
}

.num {
  padding-right: 10px;
}

article:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article:nth-child(2) hr {
  flex-grow: 1;
  height: 1px;
  background-color: var(--off-white);
  border: none;
}

article:nth-child(2) button {
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

article:nth-child(2) button:hover {
  background-color: var(--off-black);
}

article:last-of-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

article:last-of-type section {
  display: flex;
  flex-direction: row;
  font-weight: 500;
}

article:last-of-type section p:first-child {
  color: var(--purple);
}

article:last-of-type section p:last-child {
  color: var(--off-black);
}

article:last-of-type section p {
  font-weight: 800;
  font-style: italic;
  font-size: 48px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 376px) {
  body {
    min-height: 90vh;
  }

  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-group {
    margin-right: 10px;
  }

  .input-group label {
    margin-bottom: 5px;
  }

  .input-group input {
    padding: 0.5rem 0.5rem;
    width: 70px;
  }

  article:first-child {
    padding: 25px 10px;
  }

  article:last-child {
    padding: 15px 10px;
  }

  article:nth-child(2) {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  article:nth-child(2) hr {
    background-color: var(--off-white);
    height: 1px;
    width: 80%;
    position: absolute;
    top: 50%; /* Регулюємо положення відносно батьківського елемента */
    z-index: -1; /* Задній план відносно інших дочірніх елементів article */
  }

}
